---
import { ViewTransitions } from 'astro:transitions';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import BaseHead from '../components/BaseHead.astro';

interface Props {
  title: string;
  description?: string;
  image?: string;
}

const { title, description = 'A website about watch repair specialists.', image = '/social.jpg' } = Astro.props;
---

<!doctype html>
<html lang="en" class="dark" data-theme="dark">
  <head>
    <BaseHead title={title} description={description} image={image} />
    <ViewTransitions />
  </head>
  <body class="min-h-screen flex flex-col">
    <Header />
    <main class="flex-grow container mx-auto px-4 sm:px-6 lg:px-8">
      <slot />
    </main>
    <Footer />
  </body>
</html>
